html, body{
    

    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
        url(../images/bgadm.jpg);
    background-size: cover;
    
    
}


/*====================MAIN PAGE/ GLOBAL =================*/

.logo{
    height: 32px;
    width: 32px;
}


.haut{
   
    color:#ffffff;
    text-align: center;
    background-color: rgba(159, 159, 159, 0.90);
   
    

}


.cadre1{
     background-color: rgba(121, 121, 121, 0.38);
    color: #ffffff;

    border: 3px solid white;
  
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
    
}




.gestion{
    margin-top: 5%;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 10px;
     background-color: rgba(121, 121, 121, 0.38);
}


.gestion li a:hover{
color: #3495dd;
}


.gestion li a{
    color:#ffffff;
} 








/*====================USER PAGE ===========================*/




.user_setting{
    margin-bottom: 20%;
}











.cadre{
     background-color: rgba(121, 121, 121, 0.38);
    color: #ffffff;

    border: 3px solid white;
  
    margin-top: 3%;

 
    
}





.title{
    text-align: center;
    margin: 5%;
    color:#ffffff;
}

/*==========Action user=================*/
.ban{
 margin-left: 10%;
   
}



.mod{
    margin-left: 10%;
    color: #00b14b;
    
    
    
    position: relative;
  display: inline-block;
 
}





.ban {
    color:#ff2626;
}
.del{
    color: #ffa71b;
}

.adduser{
    margin-left: 80%;
    font-size: 30px;
    color:#2d5ecc;
}




/*=================Serach bar===============*/

.search{
    margin-top: 3%;
margin-left: 30%;
}


.searchbtn{
    background-color: rgba(84, 147, 248, 0.88);
    color:#ffffff;
}

.searchbtn:hover{
    background-color: rgba(106, 132, 242, 0.87);
}

/*==============post setting===========*/


.see{
    margin-left: 10%;
    color: #ffffff;
}

.folder{
    margin-left: 90%;
    
    font-size: 30px;
}


.folder:hover{
    
color:rgba(46, 139, 247, 0.92);
}

















