html,body {
    
}


header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        
        url(../images/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}



p{
    
    font-family: 'Roboto Mono', monospace;
}

a{
    color:white;
    text-decoration: none;
}

.bt-n{
  border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid white;
    margin-left: 38%;
    font-size: 17px;
    
}

.bt-n:hover{
    color:skyblue;
    text-decoration: none;
    border-radius: 4px;
   
    
    
}



.home-nav li{
    display: inline-block;
     
    
}


.home-nav{
    margin-top: 5%;
   margin-left: 30%;
 
   
}






.home-nav a {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding: 5px 20px;
    font-size: 20px;
  
   
    
}


.home-nav li a:hover {
  color: skyblue;
}



.home-logo img {
    padding-bottom: 8%;
    margin-left: 28%;
}



.home-title{
 
    margin-top: 23%;
}


.home-title h1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    
}
 

.small-p{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color:white;
}



    
/*.fas{
    font-size: 40px;
    color:aliceblue;
    text-align: center;
  margin-top: 12% auto;
    margin-left: 20%;
}
*/

/*Section*/



.articles{
    padding-top: 20px;
    
   margin-top: 30% auto;
  
    
    
    
    
}


.articles-text{
    
    padding-left: 40px ;
    margin-top: 9% ;
    margin-left: 35% auto;
    color: black;
    text-align: center;
    
}

.titre h1{
    padding-bottom: 3% ;
    font-size: 20px;
}

/*======BAS DE PAGE=========*/


.copyright{
    text-align: center;
    padding: 10px;
    background-color: black;
    opacity: 0.79;
}

.copyright p{
    font-size: 10px;
    color:white;
}














