html, body{

background-color: rgba(255, 255, 255, 0.92);
      font-family: 'Ubuntu', sans-serif;
}


header{
  background-image: url(../images/userbg.gif);
    background-position: center;
    padding: 10%;
   position: absolute;
    height: 300px;
    width: 100%;
}  


.cadre h3{
    text-align: center;
   font-weight: bold;
    
}
.cadre a{
    font-size: 12px;
   
}




/*==============CADRE===============*/
.cadre{
    
   text-align: center;
   padding: 50px;
   margin-top: 18%;
	padding-top: 2%;
  
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0,0,0,0.9);

 
   
    
}

.cadre img{
display: block;
    margin: 0 auto;
    border-radius: 80%;
    height: 150px;
    width: 150px;
    border: 1px solid #1c1c1c;
    padding: 3px;



/*==============CONTENU PROFIL=========*/
    
}

blockquote {
    
    quotes: "«\00A0" "\00A0»";
}




blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}





.add a{
	margin-left: 90%;
		color:#656565;
	font-size: 30px;
   
}

.add a:hover{
	color:limegreen;
}


.location{
    padding-top: 20px;
    
    text-align:left;
    
}

.location p{
    font-size: 13px;
}


.born{
    text-align: right;
    margin-left: auto;
    padding-top: 20px;
    
}
.born p{
    font-size: 13px;
}

.publication h1{
    padding-bottom:  10%;
}


.publication{
    
   text-align: center;
   padding: 50px;
   margin-top: 10%;
	
  
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0,0,0,0.9);
    
    
    
}
    

 
.publication img{
display: block;
   
    border-radius: 80%;
    height: 60px;
    width: 60px;
   
    padding: 3px;





